body {
  background-color: white;
  overflow-x: hidden;
}

.scrolling-container {
  overflow: hidden;
  background-color: white;
  margin-left: 18%;
  margin-right: 15.1%;
}

.image-container {
  padding-left: 70%;
  display: flex;
  align-items: center;
  animation: scrollImages 20s linear infinite;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4300px);
  }
}

.image-container img {
  width: 350px;
  height: 150px;
}

.company-card-container {
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.factory-picture {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 300px;
  height: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.company-mini-description {
  margin-left: 10%;
  margin-right: 10%;
}

#company-card-title {
  font-size: 26px;
}

.learn-more-button-container {
  display: flex;
}

.learn-more-button-container a {
  background-color: paleturquoise;
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
}