body {
  background-color: antiquewhite;
}

a {
  color: black;
  text-decoration: none; /* To not underline the link */
}

a:visited {
  color: black;
}

a:hover {
  color: orange;
}

a:active {
  color: orangered;
}