/* Header css */
header {
  text-align: center;
}

/* Header contact css */
.header-contact-container {
  margin-left: 3%;
  margin-bottom: -10px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-contact-elements-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-text {
  padding-left: 10px;
}

/* Css to separate texts and icons */
.separate-element {
  margin-left: 20px;
}

.mail-icon, .phone-icon, .address-icon {
  width: 30px;
  height: 30px;
}

/* Top navigation css */
nav {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: 'Arial-Nova';
  src: url('../../../assets/font/ArialNova.ttf') format('ttf');
}

.logo-container {
  margin-left: -100px;
}

.logo-top {
  font-size: 25px;
}

.logo-bottom {
  font-size: 18px;
  margin-top: -25px;
  font-family: 'Arial-Nova', sans-serif;
}

/* Top Navigation button css */
.nav-link-button-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
  margin-left: 5%;
}

a.active-page {
  color: #1E90FF;
  font-weight: 700;
}

p.active-page:hover, p.non-active-page:hover {
  font-size: 20px;
}

a.active-page:active, a.non-active-page:active {
  color: orangered;
}

.nav-link-button-text {
  margin-left: 20px;
}

/* Top navigation flag css */
.nav-flag-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 7%;
  margin-top: 40px;
}

.en-flag {
  padding-top: 5px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  transition: transform 0.2s ease-in-out;
}

.en-flag:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.en-flag:active {
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

.zh-flag {
  margin-top: 5px;
  width: 31px;
  height: 32px;
  transition: transform 0.2s ease-in-out;
}

.zh-flag:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.zh-flag:active {
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

.nav-menu-button-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-menu-button:hover {
  cursor: pointer;
}

.nav-menu-button {
  background-color: white;
  margin-right: 10%;
  border: 1px solid grey;
  border-radius: 5px;
}

.nav-menu-button-icon {
  display: flex;
  justify-content: center;
  margin: 3px;
  transform: scale(0.8);
}

.nav-flag-container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Responsive css part */

/* Header contact responsive css */
@media screen and (max-width: 1323px) {
  .header-contact-container {
    flex-direction: column;
  }
  .separate-element {
    margin-left: 0;
  }
  .header-contact-elements-container {
    margin-top: -15px;
  }
}

/* Top navigation responsive css */
@media screen and (max-width: 1323px) {
  .logo-container {
    margin-left: 5%;
  }
  .nav-link-button-container {
    margin-left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
  }
  .nav-link-button-text {
    margin-left: 0;
  }
  .nav-link-button-container p {
    margin-bottom: 2px;
  }
  .nav-flag-container {
    display: none;
  }
  .nav-flag-container-menu {
    display: flex;
  }
}

@media screen and (min-width: 1324px) {
  .logo-container {
    flex: 1;
  }
  .nav-link-button-container, .nav-flag-container {
    display: flex;
  }
  .nav-menu-button-container {
    display: none;
  }
  .nav-flag-container-menu {
    display: none;
  }
}